@{ 
    ViewData["Title"] = "Index";
}
<body id="sokoBanBody">

    <button id="stop-btn">Stop</button>
    <script src="~/js/SokobanBase.js"></script>
    <script src="~/js/Main.js"></script>
</body>